   * To learn more about us and our offerings type: man hashbang

 Like what we're doing? Consider donating to expand our efforts.
   * Bitcoin       - [ {{ donate.bitcoin }} ]
   * Google Wallet - [ {{ donate.google_wallet }} ]
   * PayPal        - [ {{ donate.paypal }} ]

 Community shell servers generously sponsored by: (http://atlantic.net)
