# Global defaults
defaults
aliases /etc/aliases
logfile ~/.msmtp.log

# Master account
# Required for msmtp to function as sendmail
account {{ system.domain }}
host mail.{{ system.domain }}

# Sender address
auto_from on
maildomain {{ system.domain }}

# TLS configuration
tls on
tls_fingerprint {{ mail.cert_fp }}

# Syslog logging with facility LOG_MAIL instead of the default LOG_USER.
# Only applies to the #! account
syslog LOG_MAIL

# Make our domain the default account
account default : {{ system.domain }}
